In [129]:
import pandas as pd

tbl = pd.read_json("../sample_domains/restaurant/restaurants_kb.json", orient="values")

tbl.query("area=='north' | cuisine=='arabic'")

params = { "area":"north", "pricerange":"moderate"}


def extact_match(params: dict)-> 'pandas.DataFrame':
    query = [ str(key)+"=='"+str(val)+"'" for key, val in params.items() ]
    query = '&'.join(query)
    return tbl.query(query)

def or_match(params: dict) -> 'pandas.DataFrame':
    query = [ str(key)+"=='"+str(val)+"'" for key, val in params.items() ]
    query = '|'.join(query)
    return tbl.query(query)
    
def rank_results(resuts: 'pandas.DataFrame', params: dict) -> list:
    pass
        

results = or_match(params)

param_val_set = set(params.values())
param_key_list = list(params.keys())

def sim_score(set1: set, set2: set) -> float:
    return len(set1.intersection(set2)) / len(set2)

def rank_results(results: 'pandas.DataFrame', params: dict) -> list:    
    result_list = []
    for _, row in tbl.iterrows():
        row_vals_set = set(row[param_key_list].values)
        result_list.append((row.to_json(),sim_score(row_vals_set, param_val_set)))

    return sorted(result_list, key = lambda tup: tup[1], reverse=True)

[('{"address":"1234 Street","area":"north","cuisine":"arabic","name":"ask restaurant","phone":"343-433-4431","pricerange":"moderate"}',
  1.0),
 ('{"address":"1234 Street","area":"north","cuisine":"thai","name":"bangkok city","phone":"343-433-4430","pricerange":"moderate"}',
  1.0),
 ('{"address":"1234 Street","area":"north","cuisine":"chinese","name":"ali baba","phone":"343-433-4433","pricerange":"cheap"}',
  0.5),
 ('{"address":"1234 Street","area":"north","cuisine":"chinese","name":"anatolia","phone":"343-433-4432","pricerange":"cheap"}',
  0.5),
 ('{"address":"1234 Street","area":"central","cuisine":"indian","name":"chutneys","phone":"343-433-4436","pricerange":"moderate"}',
  0.5)]

In [111]:
set(params.values())

{'moderate', 'north'}